# Основные зависимости

loguru>=0.6.0             # Гибкое и удобное логирование
typer>=0.9.0              # CLI-фреймворк (дружелюбный к Click)
pyyaml                    # Поддержка YAML
pydantic>=2.0             # Валидация данных, DTO, работа с конфигами
pluggy>=1.5               # Система плагинов

pandas                    # Работа с данными
numpy                     # Численные операции
tqdm                      # Прогресс-бары
plotly                    # Визуализация
matplotlib                # Альтернативная визуализация